<!DOCTYPE html>
<html>
   <head>
      <title>Zumblr | Share Your Story</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= favicon_link_tag 'favicon.ico' %>
   </head>
   <body>
      <div class="container-fluid">
         <!-- Static navbar -->
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <%= link_to "Zumblr" , root_path, class:"navbar-brand" %> 
               </div>

               <% if user_signed_in? %>
                  <div id="navbar" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">                     
                        <li><%= link_to "Post Feed" , root_path %></li>
                        <li><%= link_to "Posts" , root_path %></li>
                        <li><%= link_to "Make Post", new_post_path %></li>
                        <li><%= link_to "About" , about_path , class:"nav-text" %></li>
                        <li><%= link_to "Log out", destroy_user_session_path , method: :delete %></li>
                     </ul>
               
               <% end %>
                  <ul class="nav navbar-nav navbar-right">

                     <% if !user_signed_in? %>
                        <li><%= link_to "Log In", new_user_session_path %></li>
                        <li><%= link_to "Sign Up", new_user_session_path %></li>
                     <% end %>
                  </ul>
               </div>
               <!--/.nav-collapse -->

            </div>
            <!--/.container-fluid -->
         </nav>
      </div>
      <!-- /container -->
      <div class="container">
         <% flash.each do |name, msg| %>
         <%= content_tag(:div, msg, class: "alert", style: "color:green;") %>
         <% end %>
         <%= yield %>
      </div>
   </body>
</html>

